<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Login/Register</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'myApp/css/stylesheet.css' %}"media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
      <div class="wrapper row">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1> Welcome! </h1>
        </div>
      </div>

      {% if messages %}
          {% for message in messages %}
              <div class='alert alert-{{message.tags}}'>{{message}}</div>
          {% endfor %}
      {% endif %}

        <div class="col-md-6">
            <form class="" action="{% url 'myApp:register' %}" method="POST">
                {% csrf_token %}
                <h2>Register</h2>
                <div class="form-group">
                 <label for="first_name">Name</label>
                   <input name="name" type="text" class="form-control" id="" placeholder="">
                </div>

                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="" placeholder="" name="username">
                </div

                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" id="" placeholder="">
                  <p id="passwordHelpBlock" class="form-text text-muted">
                    Your password should be at least 8 characters long.
                  </p>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword2">Confirm Password</label>
                  <input name="password_confirm" type="password" class="form-control" id="" placeholder="">
                </div>

                <button type="submit" name="register" class="btn btn-default">Register</button>
            </form>
        </div>

        <div class="col-md-6">

            <form class="" action="{% url 'myApp:login' %}" method="POST">
              <h2>Login</h2>
                {% csrf_token %}

                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="" placeholder="" name="username">
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" id="" placeholder="">
                </div>

                <button type="submit" name="login" class="btn btn-default">Login</button>
            </form>
        </div>

      </div>
    </body>
</html>
